{% extends 'base-backend.html.twig' %}


{% block title %}Transporteur{% endblock %}

{% block body %}
    <h1>Transporteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carrier.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ carrier.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ carrier.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ carrier.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_carrier_index') }}">Retour</a>

    <a href="{{ path('app_admin_carrier_edit', {'id': carrier.id}) }}">Modifier</a>

    {{ include('admin_carrier/_delete_form.html.twig') }}
{% endblock %}
